<blockquote>Customer</blockquote>

<table>
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Loyal Customer</th>
      <th>Total Spent</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cus of customers">
      <td name="Full Name">{{ cus.email }}</td>
      <td name="Email">{{ cus.phone }}</td>
      <td name="Phone Number">{{ cus.name }}</td>
      <td name="Loyal Customer">{{ cus.loyaltyReward ? "Yes" : "No" }}</td>
      <td name="Total Spent">{{ cus.totalSpent | currency: "₦ ":"code" }}</td>
      <td name="Action"><button (click)="cB(cus)">Open</button></td>
    </tr>
  </tbody>
</table>

<div style="margin-top: 3rem"></div>

<blockquote>Transactions</blockquote>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Amount</th>
      <th>Customer Name</th>
      <th>Discount</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let txn of transactions">
      <td name="Date">{{ txn.date | date: "medium" }}</td>
      <td name="Amount">{{ txn.amount | currency: "₦ ":"code" }}</td>
      <td name="Customer Name">{{ txn.customer }}</td>
      <td name="Discount">{{ txn.discount | percent }}</td>
    </tr>
  </tbody>
</table>
