<blockquote>{{ title }}</blockquote>

<!-- 
  Here we loop through the ColumnMap config and set the value of the 	<th> element to the be the value of the header property. We also show 	or hide the Action or Actions table head text based on the buttons input. 

  For the <tr> we loop through the records data, then for each record we 	loop 	through the ColumnMap config and set the value of the 		<td> element to the be the value of the primaryKey property. We also 	add the appStyleCell directive and the formatCell pipe to give use more 	flexibility. The <td> buttons are also populated based on the buttons 	input. 
 -->

<table>
  <thead>
    <tr>
      <th *ngFor="let map of columnMaps">{{ map.header }}</th>
      <th *ngIf="buttons.length === 1">Action</th>
      <th *ngIf="buttons.length > 1">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let record of records">
      <td
        *ngFor="let map of columnMaps"
        [appStyleCell]="record[map.primaryKey]"
        [key]="map.primaryKey"
      >
        {{ record[map.primaryKey] | formatCell: map.format }}
      </td>
      <td *ngIf="buttons.length > 0">
        <button
          *ngFor="let but of buttons"
          (click)="but.func(record[but.param])"
          class="{{ but.class }}"
        >
          {{ but.title }}
        </button>
      </td>
    </tr>
  </tbody>
</table>
