// sets

$gl-ms: "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs: "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm: "screen and (max-width: 48em)"; // max 768px
$gl-md: "screen and (max-width: 64em)"; // max 1024px
$gl-lg: "screen and (max-width: 80em)"; // max 1280px

// table style

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 6px;
  overflow: hidden;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  font: 400 14px "Calibri", "Arial";

  * {
    position: relative;
  }

  td,
  th {
    padding-left: 8px;
  }

  thead tr {
    height: 60px;
    background: #ffed86;
    font-size: 16px;
  }

  tbody tr {
    height: 48px;
    border-bottom: 1px solid #e3f1d5;
    &:last-child {
      border: 0;
    }
  }

  td,
  th {
    text-align: left;
    &.l {
      text-align: right;
    }
    &.c {
      text-align: center;
    }
    &.r {
      text-align: center;
    }
  }
}

@media #{$gl-xs} {
  table {
    display: block;
    > *,
    tr,
    td,
    th {
      display: block;
    }

    thead {
      display: none;
    }
    tbody tr {
      height: auto;
      padding: 8px 0;
      td {
        padding-left: 45%;
        margin-bottom: 12px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before {
          position: absolute;
          font-weight: 700;
          width: 40%;
          left: 10px;
          top: 0;
        }

        &:nth-child(1):before {
          content: attr(id);
        }
        &:nth-child(2):before {
          content: attr(id);
        }
        &:nth-child(3):before {
          content: attr(id);
        }
        &:nth-child(4):before {
          content: attr(id);
        }
        &:nth-child(5):before {
          content: attr(id);
        }
      }
    }
  }
}

// body style

.body {
  background: #9bc86a;
  font: 400 14px "Calibri", "Arial";
  padding: 20px;
}

blockquote {
  color: white;
  text-align: center;
}
